/**
 * Core o-grid component
 *
 * DO NOT apply dimension or offset utilities to the `o-grid` element. All cell
 * widths and offsets should be applied to child o-grid cells.
 */

/* o-grid container
   ========================================================================== */

/**
 * All content must be contained within child `o-grid__cell` elements.
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 */

.o-grid {
  box-sizing: border-box;
  display: flex; /* 1 */
  flex-flow: row wrap;
  margin: 0; /* 1 */
  padding: 0; /* 1 */
}

/**
 * Modifier: center align all o-grid cells
 */

.o-grid--alignCenter {
  justify-content: center;
}

/**
 * Modifier: right align all o-grid cells
 */

.o-grid--alignRight {
  justify-content: flex-end;
}

/**
 * Modifier: middle-align o-grid cells
 */

.o-grid--alignTop {
  align-items: flex-start;
}

/**
 * Modifier: middle-align o-grid cells
 */

.o-grid--alignMiddle {
  align-items: center;
}

/**
 * Modifier: bottom-align o-grid cells
 */

.o-grid--alignBottom {
  align-items: flex-end;
}

/**
 * Modifier: reverse grid cells order
 */
 
.o-grid--reverse {
  flex-direction: row-reverse;
}

/**
 * Modifier: allow cells to equal distribute width
 *
 * 1. Provide all values to avoid IE10 bug with shorthand flex
 *    http://git.io/vllC7
 *
 *    Use `0%` to avoid bug in IE10/11 with unitless flex basis
 *    http://git.io/vllWx
 */

.o-grid--fit > .o-grid__cell {
  flex: 1 1 0%; /* 1 */
}

/**
 * Modifier: all cells match height of tallest cell in a row
 */

.o-grid--equalHeight > .o-grid__cell {
  display: flex;
}

/**
 * Modifier: gutters
 */

.o-grid--withGutter {
  margin: 0 (-$g_gutterWidth/2);
}

.o-grid--withGutter > .o-grid__cell {
  padding: 0 ($g_gutterWidth/2);
}

.o-grid--gutter-x4 {
  margin: 0 (-$baselineGrid*2);
}

.o-grid--gutter-x4 > .o-grid__cell {
  padding: 0 ($baselineGrid*2);
}

.o-grid--gutter-x6 {
  margin: 0 (-$baselineGrid*3);
}

.o-grid--gutter-x6 > .o-grid__cell {
  padding: 0 ($baselineGrid*3);
}

/* o-grid cell
   ========================================================================== */

/**
 * No explicit width by default. Rely on combining `o-grid__cell` with a dimension
 * utility or a component class that extends 'o-grid'.
 *
 * 1. Set flex items to full width by default
 */

.o-grid__cell {
  box-sizing: inherit;
  flex: 0 0 100%; /* 1 */
  max-width: 100%;
}

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `o-grid` object.
 */

.o-grid__cell--center {
  margin: 0 auto;
}