.o-link,
%o-link {
  color: $c_gray;
  transition: all 0.25s;
  cursor: pointer;
  
  &:hover {
    color: rgba($c_gray, 0.6)
  }
  
  &:active {
    color: rgba($c_gray, 0.8)
  }  
  

  &--white {
    color: $c_white;
    
    &:hover {
      color: rgba($c_white, 0.6)
    }
    
    &:active {
      color: rgba($c_white, 0.8)
    }
    
  }
  
  &--black {
    color: $c_black;
    
    &:hover {
      color: rgba($c_black, 0.4);
    }
    
    &:active {
      color: rgba($c_black, 0.6);
    }
    
  }
  
  &--primary {
    color: $c_primary;
    
    &:hover {
      color: rgba( $c_primary, 0.4)
    }
    
    &:active {
      color: rgba( $c_primary, 0.6)
    }
    
  }
  
  &--primaryDark {
    color: $c_primary_dark;
    
    &:hover {
      color: rgba( $c_primary_dark, 0.4)
    }
    
    &:active {
      color: rgba( $c_primary_dark, 0.6)
    }
    
  }
  
  &--grayLight {
    color: #C6CCD4;
    
    &:hover {
      color: rgba(#C6CCD4, 0.6)
    }
    
    &:active {
      color: rgba(#C6CCD4, 0.8)
    }
    
  }
  
  &--normal {
    color: $c_gray;
    
    &:hover {
      color: rgba($c_gray, 0.6)
    }
    
    &:active {
      color: rgba($c_gray, 0.8)
    }  
    
  }
  
}
