.o-listHorizontal,
%o-listHorizontal {
  list-style: none;
}


.o-listHorizontal__item,
%o-listHorizontal__item {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;

  .o-listHorizontal--wide & {
    margin-right: 25px;
  }
  
  .o-listHorizontal--gutter-x2 & {
    margin-right: $baselineGrid*2;
  }
  
  &:last-child { 
    margin-right: 0; 
    
    .o-listHorizontal--wide & {
      margin-right: 0;
    }
    
  }

}