.u-display-none {
  display: none !important;
}

.u-display-block {
  display: block !important;
}

.u-display-inlineBlock {
  display: inline-block !important;
}

.u-opacity-none {
  opacity: 0;
  &\@smo {
    @include bp(smo) { opacity: 0 !important; }
  }
}


.u-overflow-hidden {
  overflow: hidden !important;
}
    
@each $name, $size in $b_list {
  @media #{$size} {
    .u-display-none\@#{$name} {
      display: none !important;
    }
    
    .u-overflow-hidden\@#{$name} {
      overflow: hidden !important;
    }
    
    .u-display-block\@#{$name} {
      display: block;
    }
    
    .u-display-flex\@#{$name} {
      display: flex;
    }
 
  }
  
}

.u-hide {
  visibility: hidden !important;
  opacity: 0 !important;
  &\@smo {
    @include bp(smo) {
      visibility: hidden !important;
      opacity: 0 !important;
    }
  }
}

.u-overflowY-hidden {
  overflow-y: hidden !important;
}
