/* =========================================
		Grid
   ========================================= */
/**
 * Prefix variables with $g_
 */

$g_containerWidth: 1170px;
$g_containerWidth-small: 920px;

$g_gutterWidth: 38px;